PORT=3000

DB_HOST=localhost
DB_PORT=5435
DB_NAME=auth_service_db
DB_USER=postgres
DB_PASSWORD=postgres

JWT_ACCESS_SECRET=replace-with-a-strong-access-secret
JWT_REFRESH_SECRET=replace-with-a-strong-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
