PORT=3003

DB_HOST=localhost
DB_PORT=5434
DB_NAME=auctions_service_db
DB_USER=postgres
DB_PASSWORD=postgres

WORKER_URL=https://trato-notifications.luchoporst.workers.dev
NOTIFY_SECRET=trato-notify-secret-dev-2026
