PORT=3001

DB_HOST=localhost
DB_PORT=5435
DB_NAME=auth_service_db
DB_USER=postgres
DB_PASSWORD=postgres

JWT_ACCESS_SECRET=replace-with-a-strong-access-secret
JWT_REFRESH_SECRET=replace-with-a-strong-refresh-secret
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

WORKER_URL=https://trato-notifications.luchoporst.workers.dev
NOTIFY_SECRET=trato-notify-secret-dev-2026
